@page "/info"

<script>
    document.getElementsByTagName('body')[0].style = '';
</script>

<h1>Damage multiplier mechanics</h1>
<p>
    In XDefiant hits to the limbs do not do reduced damage, 
    in fact with most guns the damage is the same no matter where you hit (outside of headshots).
</p>
<p style="margin-bottom: 0;">
    This works a bit different on marksman rifles and sniper rifles:
</p>
<p style="margin-bottom: 0;">
    Hits to the lower body or limbs deal the baseline damage,
    that you can find in the weapon's in game stat page.
</p>
<p>
    Hits to the upper body, (in and slightly below the neck) will deal an increased amount of damage,
    and headshots obviously deal the most damage.
</p>
<p>
    This behaviour is (currently) only found on marksman rifles and snipers.
</p>
<h3 style="text-align: center;">Increased damage areas:</h3>
<div style="display: flex; justify-content: center; margin-top: 1rem;">
    <div style="display: flex; flex-direction: column; align-items: center; margin-right: 4rem;">
        <p style="text-align: center;">M44 + marksman rifles</p>
        <img src="images/m44.png" height="255" width="152" />
    </div>
    <div style="display: flex; flex-direction:column; align-items: center;">
        <p style="text-align: center;">TAC-50</p>
        <img src="images/tac-50.png" height="255" width="152"/>
    </div>
</div>

<h1 style="text-align: center; margin-top: 2rem;">WIP...</h1>